    header img {
        padding-top: 15px;
    }

    header h2{
        display: block;
    }

    nav li {width: 25%; float: left;}
    
    div.gallery figure {
        flex-basis: 25%;
    }
    
